
body {
    background-color: rgb(235, 235, 202);
    font-family: 'Varela Round', sans-serif;
}


header{

    font-size: 30px;
    font-weight: bold;
}

div {
    font-size: 20px;
}


footer{

    font-size: 20px;
}

/* pull request */